<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Опросы{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'surveys/css/styles.css' %}">
</head>

<body>
<header>
    <h1>Платформа опросов</h1>

    <nav class="profile-nav">
        {% if request.path == '/' %}
            <a href="/profile/">Профиль</a>
            <a href="/register/" style="margin-left:10px;">Регистрация</a>
        {% else %}
            <a href="/">Главная</a>
        {% endif %}
    </nav>
</header>


<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    Курсовая работа · Бэкенд Разработка<br>
    ИКБО-12-23 · Копий И.В
</footer>

</body>
</html>
