{% extends "surveys/base.html" %}

{% block title %}Статистика моих опросов{% endblock %}

{% block content %}

<h2 class="topics-title">Статистика моих опросов</h2>

{% if surveys %}
    <div class="stats-list">

        {% for s in surveys %}
            <div class="stats-card">
                <h3>{{ s.title }}</h3>

                <p><strong>Вопросов:</strong> {{ s.questions_count }}</p>
                <p><strong>Ответов:</strong> {{ s.answers_count }}</p>
                <p><strong>Создан:</strong> {{ s.created_at|date:"d.m.Y H:i" }}</p>

                <div class="stats-card-actions">
                    <a href="/stats/my-surveys/{{ s.id }}/" class="btn-primary">
                        Подробнее
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>

{% else %}
    <p style="text-align:center;">Вы ещё не создали ни одного опроса.</p>
{% endif %}

{% endblock %}
