{% extends "surveys/base.html" %}
{% load static %}

{% block title %}Темы{% endblock %}

{% block content %}
<h2>Темы</h2>

<div class="topic-grid">
    {% for topic in topics %}
        <a href="/topics/{{ topic.id }}/" class="topic-card">
            <div class="topic-image">
                <img src="{% static 'surveys/img/topics/' %}{{ topic.image }}" alt="{{ topic.name }}">
            </div>
            <div class="topic-title">{{ topic.name }}</div>
        </a>
    {% endfor %}
</div>

{% endblock %}
