{% extends "surveys/base.html" %}

{% block title %}Опросы{% endblock %}

{% block content %}
<h2>Опросы по теме: {{ topic.name }}</h2>

<div class="card-grid">
    {% for survey in surveys %}
        <div class="card">
            <h3>{{ survey.title }}</h3>
            <p>{{ survey.description }}</p>
            <button>Пройти</button>
            {% if survey.author == request.user %}
                <a href="/survey/{{ survey.id }}/delete/" class="btn-delete">Удалить</a>
            {% endif %}
        </div>
    {% empty %}
        <p>Пока нет опросов в этой теме.</p>
    {% endfor %}
</div>

{% endblock %}
